@media only screen and (max-width: 1000px) {

    .headerNav {
        margin-right: 10vw;
        margin-top: -4vw;
    }

    .headerNav .menuLines {
        position: absolute;
        z-index: 999;
        width: 35px;
        height: 35px;
    }

    .headerNav .menuLines span {
        display: block;
        width: 35px;
        height: 5px;
        margin-bottom: 10px;
        background-color: #212121;
        border-radius: 3px;
        transition: all ease .3s;
    }

    .menuFakeTrigger {
        display: block;
        position: absolute;
        z-index: 1000;
        width: 35px;
        height: 35px;
        opacity: 0;
        cursor: pointer;
    }

    .headerNav .menuFakeTrigger:checked ~ .menuLines span:nth-child(1) {
        transform-origin: 0% 0%;
        transform: rotate(45deg) scaleX(1.25);
    }

    .headerNav .menuFakeTrigger:checked ~ .menuLines span:nth-child(2) {
        opacity: 0;
    }

    .headerNav .menuFakeTrigger:checked ~ .menuLines span:nth-child(3) {
        transform-origin: 0% 100%;
        transform: rotate(-45deg) scaleX(1.25);
    }

    .menu {
        display: none;
        position: absolute;
        z-index: 998;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #BDBDBD;
        padding-top: 150px;
        padding-right: 60px;
        text-align: right;
        transition: all ease .3s;
    }

    .headerNav .menuFakeTrigger:checked ~ .menu {
        display: block;
    }

    .headerNav .menu .headerNavLink {
        padding: 10px;
        font-size:2rem;
        border-bottom: 0;
    }

    .navLinkText:hover {
        font-size: 3rem;
        text-shadow: 1px 1px 5px;
        transition: all ease-in-out .3s;
    }
}

@media only screen and (max-width: 580px){
    
    .headerNav {
        margin-top: -6vw;
    }
}