* {
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Quicksand', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 5%;
    background-color: #9E9E9E;
    border-bottom: 5px solid #F5F5F5;
}

.menuFakeTrigger {
    display: none;
}

.headerTitle {
    font-size: 3rem;
    font-weight: 900;
    color: #212121;
}

.headerNav {
    display: flex;
    gap: 1.75rem;
}

.menu {
    display: flex;
    gap: 1.75rem; 
}

.headerNavLink {
    font-size: 24px;
    text-decoration: none;
    font-weight: 700;
    transition: all ease-in-out .2s;
}

.headerNavLink:hover {
    border-bottom: 3px solid #212121;
    margin-bottom: -4px;
    color: #8BC34A;
}

.navLinkText {
    color: #212121;
}

.sectionIntro {
    background-color: #616161;
    padding: 2.5rem 0rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.introDescription {
    width: 45%;
}

.descriptionSubtitle{
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
    color: #F5F5F5;
}

.descriptionText {
    font-size: 1.5rem;
    line-height: 1.75rem;
    margin-bottom: 1.75rem;
    color: #F5F5F5;
}

.descriptionButton {
    background-color: #212121;
    width: fit-content;
    padding: 1rem 3rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: #F5F5F5;
    border-radius: 10px;
}

.descriptionButtonLink {
    text-decoration: none;
}

.descriptionButton:hover {
    color: #8BC34A;
}

.sectionLists {
    display: flex;
    padding: 5rem 0rem;
    justify-content: center;
    color: #F5F5F5;
    gap: 2rem;
}

.hobbies {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.hobbiesTitle {
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.hobbiesList {
    display: flex;
    list-style: none;
    gap: 1rem;
    flex-direction: row-reverse;
    flex-flow: wrap;
    justify-content: center;
}

.hobbiesListItem {
    width: 8.5rem;
    height: 14rem;
    background-color: #616161;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 15px;
    background-size: cover;
    box-shadow: 3px 3px 5px;
}

.hobbiesListItem:hover {
    box-shadow: 6px 6px 10px;
}

.top5 {
    display: flex;
    flex-direction: column;
}

.top5Title {
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.top5List {
    display: flex;
    list-style: none;
    gap: 1rem;
    flex-flow: wrap;
    justify-content: center;
}
.top5ListItem {
    width: 8.5rem;
    height: 14rem;
    background-color: #616161;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 15px;
    background-size: cover;
    box-shadow: 3px 3px 5px;
}

.top5ListItem:hover {
    box-shadow: 6px 6px 10px;
    font-size: 2rem;
}

.listItemText {
    padding: 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    color: #F5F5F5;
}


footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3.5rem;
    background-color: #9E9E9E;
    align-items: center;
    border-top: 5px solid #455A64;
}

.footerList {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.buttonContato {
    text-decoration: none;
}

.buttonContatoContainer {
    background-color: #212121;
    width: fit-content;
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: #F5F5F5;
    border-radius: 10px;
}

.buttonContatoContainer:hover {
    color: #8BC34A;
}



@media only screen and (max-width: 1000px) {

    .headerTitle {
        font-size: 10vw;
    }

    .introImage {
        width: 95vw;
        height: 95vw;
    }

    .sectionIntro {
        flex-direction: column;
        gap: 3rem;
    }

    .introDescription {
        width: 90%;
        text-align: center;     
    }

    .descriptionButton {
        margin: auto;
    }


    .sectionLists {
        flex-direction: column;
        gap: 7rem;
    }

    .hobbies {
        align-items: center;
    }

    .top5 {
        align-items: center;
    }

    footer {
        flex-direction: column-reverse;
        gap: 1.5rem;
    }
}


@media only screen and (max-width: 580px) {
    .hobbiesListItem {
        height: 40vw;
        width: 28vw;
    }

    .top5ListItem {
        height: 40vw;
        width: 28vw;
    }

}



/* ------- Setando Imagens ----------- */

#itemCafe {
    background-image: url(./images/coffee.jpg);
}

#itemLivro {
    background-image: url(./images/book.jpeg);
}

#itemJogo {
    background-image: url(./images/game.jpg);
}

#itemPiano {
    background-image: url(./images/piano.jpg);
}

#itemCodar {
    background-image: url(./images/codar.jpg);
}

#itemSkyrim {
    background-image: url(./images/skyrim.jpeg);
    justify-content: space-between;
}

#itemSkyrim img {
    align-self: flex-start;
    border-top-left-radius: 10px;
}

#itemWitcher {
    background-image: url(./images/witcher.jpg);
    justify-content: space-between;
}

#itemWitcher img {
    align-self: flex-start;
    border-top-left-radius: 10px;
}

#itemZelda {
    background-image: url(./images/zelda.jpeg);
    justify-content: space-between;
}

#itemZelda img {
    align-self: flex-start;
    border-top-left-radius: 10px;
}

#itemMinecraft {
    background-image: url(./images/minecraft.jpg);
}

#itemMario {
    background-image: url(./images/mario.jpg);
}

